# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Local binaries & OS files
src/ffmpeg.exe
.DS_Store
Thumbs.db

# Output temporary files
*.tmp

*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac